.InputSearch {
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-align: center;
    width: 40%;
    height: 38px;
    margin: 10px;
    position: relative;
    left: 25px;
    border-radius: 15px;
}
